extends layout

block content
  //h1(style="color:red")= title+"asdsad"
  //p Welcome to #{title}  
  .row
    .col-md-12.card
      .header
        h4.title 
        p.category 
      .content(style="height:100%")
        each val,index in data
          if index%2
            div(style="height:  300px")
              .col-md-5(style="overflow: auto;height: 100%;")
                .card(style="background-color: #e8e8e8;")
                  div(style="position: absolute;top:7;right:15")=val.date
                  .header
                    h4.title=val.title
                  .content!= val.text
              .col-md-2.text-center
                i.fa.fa-circle(style="font-size: 25px;",class=val.color)
                div(style="background: #a7a7a7;width: 3px;height: 275px;margin: auto;")
              .col-md-5
          else
            div(style="height:  300px")
              .col-md-5
              .col-md-2.text-center
                i.fa.fa-circle(style="font-size: 25px;",class=val.color)
                div(style="background: #a7a7a7;width: 3px;height: 275px;margin: auto;")
              .col-md-5(style="overflow: auto;height: 100%;")
                .card(style="background-color: #e8e8e8;")
                  div(style="position: absolute;top:7;right:15")=val.date
                  .header
                    h4.title=val.title
                  .content!= val.text
                         

